@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">IIS Project</h1>
    <a class="btn btn-primary" href="@Url.Action("Index","XSD")">XSD</a>
    <a class="btn btn-primary" href="@Url.Action("Index","SOAP")">SOAP</a>
    <a class="btn btn-primary" href="@Url.Action("Index","RNG")">RNG</a>
</div>
